/* 
    Document   : DegreeProgramModify
    Created on : Nov 11, 2013, 2:13:58 PM
    Author     : Diane
    Description:
        Purpose of the stylesheet follows.
*/

body
{
    background-color:#06148C;
    color: white;
}

#MainPageLink
{
    font-family: 'Viga', cursive;
    font-size: 130%;
    color: white ;
}

#banner
{
    position:relative;
    text-align:center;
    top: 10px;
    background-color: #06148C;
    font-family: 'Viga', cursive;
    font-size: 200%;
    color: white;
}

#Title
{
    position: absolute;
    margin-left: 230px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#Table
{
height:450px;
overflow:scroll;
} 

#TableList
{
position: relative;
margin-top: 1%;
font-size: 100%;
}

#updatePopup
{
position: absolute;
background-color: #578cca;
color: #06148C;
top: 50px;
left: 50px;
width: 600px;
height: 500px;
border-radius: 15px;
border-color: white;
border-width: 5px;
}

#Change 
{
position: relative;
display: block;
left: 30px;
top: 0px;
margin-left: 50px;
margin-top:50px;
width:550px;
height:450px;
font-family: 'Viga', sans-serif;
font-size: 100%;
font-weight: normal;
line-height: 15px;
border-radius: 10px;
}

#Id-update
{
width:300px;
margin-left: 31px;
margin-top: 15px;
font-size: 100%;
height: 20px;
}

#Description-update
{
width:300px;
margin-left: 15px;
margin-top: 15px;
font-size: 100%;
height: 20px;
}

#Rationale-update
{
width:300px;
margin-left: 28px;
margin-top: 15px;
font-size: 100%;
height: 20px;
}

#Assessed-update
{
width:300px;
margin-left: -115px;
margin-top: 15px;
font-size: 100%;
height: 20px;
}

#studentoutcome-update
{
position: absolute;
width:300px;
margin-left: -102px;
margin-top: 26px;
font-size: 100%;
height: 20px;
}

#ModifyButton
{
width:250px;
margin-left:110px;
margin-top: 70px;
color:#06148C;
background: #80c8ea;
font-family: 'Viga', sans-serif;
font-size: 20px;
height:35px;
border-radius: 15px;
}
#ModifyButton:hover 
{
background:#09c;
color:white;
}

