/* 
    Document   : css
    Created on : Oct 30, 2013, 11:31 PM
    Author     : Diane Gabrielsen (css implementation)
*/

body
{
    background-color:#06148C;
    color: white;
}

#MainPageLink
{
    font-family: 'Viga', cursive;
    font-size: 130%;
    color: white;
}

#banner
{
    position:relative;
    text-align:center;
    top: 10px;
    background-color: #06148C;
    font-family: 'Viga', cursive;
    font-size: 200%;
    color: white;
}

form    
{
margin:auto;
position:relative;
display: block;
left: 0%;
top: 50px;
width:550px;
height:450px;
font-family: 'Viga', sans-serif;
font-size: 20px;
line-height: 24px;
border-radius: 10px;
}

#scroll
{
height:150px;
width: 150px;
overflow:scroll;
}

#UsernameField
{
width:300px;
margin-left: 42px;
margin-top: 20px;
font-size: 100%;
height: 25px;
}

#PasswordField
{
width:300px;
margin-left: 51px;
margin-top: 20px;
font-size: 100%;
height: 25px;
}

#EmailField
{
width:300px;
margin-left: 9px;
margin-top: 20px;
font-size: 100%;
height: 25px;
}

#CIC_Member_Box
{
margin-left: 29px;
margin-top: 20px;
font-size: 100%;
}

#EvaluatorBox
{
margin-left: 52px;
margin-top: 20px;
font-size: 100%;
}

#SubmitButton
{
width:150px;
margin-left:180px;
margin-top: 40px;
background:#578cca;
color: #06148C;
font-family: 'Viga', sans-serif;
font-size: 20px;
height:30px;
border-radius: 15px;
}
#button:hover 
{
background:#80c8ea;
color:#09C;
}
