<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DegreeProgramServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.DegreeProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeoServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.PeoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentOutcomeServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.StudentOutcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseOutcomeServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.CourseOutcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseOfferingServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.CourseOfferingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseOutcomeDirectAssessmentServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.CourseOutcomeDirectAssessmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.SurveyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinuteServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.MinuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabulateServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.TabulateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentServlet</servlet-name>
        <servlet-class>com.cse308.projectaim.servlets.AssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DegreeProgramServlet</servlet-name>
        <url-pattern>/degreeprogram/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeoServlet</servlet-name>
        <url-pattern>/peo/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentOutcomeServlet</servlet-name>
        <url-pattern>/studentoutcome/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseOutcomeServlet</servlet-name>
        <url-pattern>/courseoutcome/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseOfferingServlet</servlet-name>
        <url-pattern>/courseoffering/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseOutcomeDirectAssessmentServlet</servlet-name>
        <url-pattern>/courseoutcomedirectassessment/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyServlet</servlet-name>
        <url-pattern>/survey/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinuteServlet</servlet-name>
        <url-pattern>/Minute/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabulateServlet</servlet-name>
        <url-pattern>/tabulate/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentServlet</servlet-name>
        <url-pattern>/assignment/controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
